.container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

#search_form {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

#accueil-date-user {
    text-align: right;
    margin-right: 50px;
    font-weight: bold;
}


#container-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profil_form {
    width: 20%;
}

#container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    max-width: 100%;
    padding: 0 10px;
}

header {
    max-width: 100%;
    background-color: #4f6577;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    max-width: 100px;
    margin-right: 5px;
}

.header-nav {
    height: 20%;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.header-nav a {
    margin-left: 2rem;
    color: white;
    text-decoration: none;

}

header nav a:hover {
    text-decoration: underline;
}


#nav-pseudo {
    color: #ffd023;
    font-weight: bold;
    display: inline;
    font-size: 1rem;
    margin-left: 2rem;

}

h1 {
    margin-bottom: 20px;
    text-align: center;
}


.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

table, th, td {
    border: solid 2px black;
    text-align: center;
}

table {
    margin-top: 50px;
    margin-right: 40px;
    background-color: white;
}

th, td {
    width: 200px;
}

#container-sortie-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    margin-top: 50px;
}

#sortie-colonne-1 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-bottom: 30px;
    margin-right: 50px;
}

#sortie-colonne-2 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-bottom: 10%;
}

#sortie-btns {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    margin-top: 30px;
    text-align: center;
}

#container-reset-password {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

#reset-password {
    max-width: 30%;
    margin-top: 20px;
}

#reset-password-annuler {
    margin-left: 20px;
}

label, span{
    font-weight: bold;
}

input, textarea, select, button{
    margin-bottom:15px;
}

#form-sortie{
    width:50%;
}