{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(profilForm) }}
{% endblock %}