{% extends 'base.html.twig' %}

{% block body %}
<div class="sortie_form">
    {{ form_start(sortieData) }}
    {{ form_widget(sortieData) }}

    <button type="submit" class="btn">Rechercher</button>
    {{ form_end(sortieData) }}
</div>
{% endblock %}
