{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <p>
    {% if (app.user) %}

        <div>Hello {{ app.user.pseudo }} !</div>
    {% endif %}
    </p>
    <div>
        {% include 'accueil/form.html.twig' %}
    </div>

    <div>
        <ul>
            {% include 'accueil/listing.html.twig' %}
        </ul>
    </div>
{% endblock %}
