{% block body %}
<div>
    <ul>
        {% if sorties %}
            {% for s in sorties %}
                <li>
                    {{ s.nom }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}